<div class="flex flex-col w-16 h-screen bg-gray-900 text-white">
    <!-- Logo -->
    <div class="flex items-center justify-center h-16 border-b border-gray-700">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5"
            />
        </svg>
    </div>

    <!-- Menu (scrollable) -->
    <div class="flex-1 overflow-y-auto">
        <nav class="flex flex-col items-center gap-4 py-4">
            <!-- home -->
            <a
                routerLink="/home"
                routerLinkActive="active"
                class="p-2 rounded-lg hover:bg-gray-700"
            >
                <app-icon name="home"></app-icon>
            </a>

            <!-- list -->
            <button class="p-2 rounded-lg hover:bg-gray-700">
                <app-icon name="bars-3"></app-icon>
            </button>

            <!-- Thêm các nút menu khác -->
        </nav>
    </div>

    <!-- Settings (always bottom) -->
    <div class="h-16 flex items-center justify-center border-t border-gray-700">
        <a
            routerLink="/settings"
            routerLinkActive="active"
            class="p-2 rounded-lg hover:bg-gray-700"
        >
            <app-icon name="cog-6-tooth"></app-icon>
        </a>
    </div>
</div>
