<div
    (click)="handleClick()"
    class="flex items-center justify-between p-3 rounded-2xl backdrop-blur-md border border-slate-700/60 hover:bg-slate-300/40 hover:shadow-lg transition cursor-pointer"
    [ngClass]="{
        'bg-slate-300/40': active === true,
        ' bg-slate-900/40': active === false
    }"
>
    <!-- Thumbnail -->
    <img
        [src]="thumbnail"
        alt="thumbnail"
        class="w-20 h-20 rounded-xl object-cover mr-4 shadow-md"
    />

    <!-- Thông tin bài hát -->
    <div class="flex flex-col flex-1 overflow-hidden">
        <span
            class="text-base font-semibold text-gray-900 truncate text-white"
            >{{ nameOfSong }}</span
        >
        <span class="text-sm text-gray-300 truncate">{{ singer }}</span>
    </div>

    <!-- Thời lượng -->
    <div class="text-sm text-gray-300 ml-4 shrink-0">
        {{ duration }}
    </div>
</div>
