<div
    class="sticky bottom-0 left-0 mx-2 transform transition-transform duration-500 p-2"
>
    <div
        class="bg-slate-950/90 border border-slate-700/60 backdrop-blur-md shadow-lg text-white rounded-xl"
    >
        <!-- ================= MOBILE (sm trở xuống) ================= -->
        <div class="flex flex-col p-3 md:hidden">
            <!-- Row 1: Thumbnail + Info -->
            <div class="flex items-center gap-3 mb-2">
                <img
                    [src]="musicPlayer.song.thumbnail()"
                    alt="thumbnail"
                    class="w-10 h-10 rounded-md object-cover"
                />
                <div class="flex-1 truncate">
                    <p class="text-sm font-semibold truncate">
                        {{ musicPlayer.song.nameOfSong() }}
                    </p>
                    <p class="text-xs text-gray-300 truncate">
                        {{ musicPlayer.song.singer() }}
                    </p>
                </div>
                <!-- Menu (3 chấm) -->
                <button class="text-gray-300 hover:text-white">
                    <app-icon name="ellipsis-vertical"></app-icon>
                </button>
            </div>

            <!-- Row 2: Progress -->
            <div class="flex items-center gap-2 mb-2">
                <span class="text-xs w-10 text-right">
                    {{ formatTime(musicPlayer.currentTime()) }}
                </span>
                <input
                    type="range"
                    min="0"
                    [max]="musicPlayer.duration()"
                    [ngModel]="musicPlayer.currentTime()"
                    (ngModelChange)="seekTo($event)"
                    class="progress w-full rounded-lg bg-red-300 cursor-pointer"
                />
                <span class="text-xs w-10">
                    {{ formatTime(musicPlayer.duration()) }}
                </span>

                <!-- repeat mode -->
                <button class="text-gray-300 hover:text-white">
                    <app-icon name="arrow-path-rounded-square"></app-icon>
                </button>
            </div>

            <!-- Row 3: Controls -->
            <div class="flex items-center justify-between">
                <!-- Volume -->
                <div class="relative inline-block">
                    <!-- Nút volume -->
                    <button
                        class="flex items-center gap-1 text-xs text-gray-300"
                        (click)="toggleVolumeControl()"
                    >
                        @if(musicPlayer.volume() === 0) {
                        <app-icon name="speaker-x-mark"></app-icon>
                        }@else {
                        <app-icon name="speaker-wave"></app-icon>
                        }

                        {{
                            (musicPlayer.volume() * 100).toFixed(0)
                                | number : "3.0-0"
                        }}%
                    </button>

                    <!-- Thanh chỉnh volume -->
                    @if(showVolumeControl) {
                    <div
                        class="absolute mb-2 appearance-none -translate-x-6 bottom-26 bg-slate-200 p-2 rounded-lg shadow-lg volume-wrapper"
                        (appClickOutside)="showVolumeControl = false"
                    >
                        <input
                            type="range"
                            min="0"
                            max="1"
                            step="0.01"
                            [(ngModel)]="musicPlayer.volume"
                            (input)="setVolume(musicPlayer.volume())"
                            class="volume"
                        />
                    </div>
                    }
                </div>

                <!-- Controls -->
                <div class="flex items-center gap-6">
                    <button
                        (click)="prevSong()"
                        class="text-white hover:text-slate-300 cursor-pointer"
                    >
                        <app-icon name="angle-double-left"></app-icon>
                    </button>

                    @if(musicPlayer.isPlaying()) {
                    <button
                        (click)="togglePlay()"
                        class="text-2xl text-white hover:text-slate-300 cursor-pointer"
                    >
                        <app-icon name="pause"></app-icon>
                    </button>
                    } @else {
                    <button
                        (click)="togglePlay()"
                        class="text-2xl hover:text-gray-300"
                    >
                        <app-icon name="play"></app-icon>
                    </button>
                    }

                    <button
                        (click)="nextSong()"
                        class="text-white hover:text-slate-300 cursor-pointer"
                    >
                        <app-icon name="angle-double-right"></app-icon>
                    </button>
                </div>

                <!-- Speed -->
                <div class="relative inline-block">
                    <!-- Nút volume -->
                    <button
                        (click)="togglePlayBackRate()"
                        class="text-xs text-gray-300 hover:text-white"
                    >
                        {{
                            musicPlayer.playbackRate().currentRate
                                | number : "1.2-2"
                        }}x
                    </button>

                    <!-- Thanh chỉnh showPlayBackRate -->
                    @if(showPlayBackRate) {
                    <div
                        class="absolute bottom-full mb-2 right-0 bg-slate-900/90 shadow-xl z-50 rounded-2xl border"
                        (appClickOutside)="showPlayBackRate = false"
                    >
                        <div class="w-30 p-4">
                            <div class="grid grid-cols-1 gap-2 text-sm">
                                @for (rate of
                                musicPlayer.playbackRate().listRate; track
                                $index) {
                                <button
                                    class="px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900 duration-75"
                                    [class.bg-slate-200]="
                                        musicPlayer.playbackRate()
                                            .currentRate === rate
                                    "
                                    [class.text-slate-900]="
                                        musicPlayer.playbackRate()
                                            .currentRate === rate
                                    "
                                    (click)="
                                        musicPlayer.updatePlaybackRate(rate)
                                    "
                                >
                                    {{ rate | number : "1.2-2" }}x
                                </button>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <!-- ================= DESKTOP (md trở lên) ================= -->
        <div class="hidden md:flex items-center gap-4 px-4 py-2">
            <!-- Thumbnail + Info -->
            <div class="flex items-center gap-3 min-w-[200px]">
                <img
                    [src]="musicPlayer.song.thumbnail()"
                    alt="thumbnail"
                    class="w-10 h-10 rounded-lg object-cover"
                />
                <div class="truncate">
                    <p class="text-sm font-semibold truncate max-w-[150px]">
                        {{ musicPlayer.song.nameOfSong() }}
                    </p>
                    <p class="text-xs text-gray-300 truncate max-w-[150px]">
                        {{ musicPlayer.song.singer() }}
                    </p>
                </div>
            </div>

            <!-- Controls -->
            <div class="flex items-center gap-4 flex-shrink-0">
                <button
                    (click)="prevSong()"
                    class="text-white hover:text-slate-300 cursor-pointer"
                >
                    <app-icon name="angle-double-left"></app-icon>
                </button>

                @if(musicPlayer.isPlaying()) {
                <button
                    (click)="togglePlay()"
                    class="text-white hover:text-slate-300 cursor-pointer"
                >
                    <app-icon name="pause"></app-icon>
                </button>
                } @else {
                <button
                    (click)="togglePlay()"
                    class="text-white hover:text-slate-300 cursor-pointer"
                >
                    <app-icon name="play"></app-icon>
                </button>
                }

                <button
                    (click)="nextSong()"
                    class="text-white hover:text-slate-300 cursor-pointer"
                >
                    <app-icon name="angle-double-right"></app-icon>
                </button>

                <!-- Speed -->
                <div class="relative inline-block">
                    <!-- Nút volume -->
                    <button
                        (click)="togglePlayBackRate()"
                        class="text-gray-300 hover:text-white"
                    >
                        {{
                            musicPlayer.playbackRate().currentRate
                                | number : "1.2-2"
                        }}x
                    </button>

                    <!-- Thanh chỉnh showPlayBackRate -->
                    @if(showPlayBackRate) {
                    <div
                        class="absolute bottom-full mb-2 right-0 bg-slate-900/90 shadow-xl z-50 rounded-2xl border"
                        (appClickOutside)="showPlayBackRate = false"
                    >
                        <div class="w-30 p-4">
                            <div class="grid grid-cols-1 gap-2 text-sm">
                                @for (rate of
                                musicPlayer.playbackRate().listRate; track
                                $index) {
                                <button
                                    class="px-3 py-2 rounded-lg hover:bg-slate-100 hover:text-slate-900 duration-75"
                                    [class.bg-slate-200]="
                                        musicPlayer.playbackRate()
                                            .currentRate === rate
                                    "
                                    [class.text-slate-900]="
                                        musicPlayer.playbackRate()
                                            .currentRate === rate
                                    "
                                    (click)="
                                        musicPlayer.updatePlaybackRate(rate)
                                    "
                                >
                                    {{ rate | number : "1.2-2" }}x
                                </button>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <!-- repeat mode -->
                <button class="text-gray-300 hover:text-white">
                    <app-icon name="arrow-path-rounded-square"></app-icon>
                </button>
            </div>

            <!-- Progress Bar -->
            <div class="flex items-center gap-2 w-full px-4">
                <span>{{ formatTime(musicPlayer.currentTime()) }}</span>
                <input
                    type="range"
                    min="0"
                    [max]="musicPlayer.duration()"
                    [ngModel]="musicPlayer.currentTime()"
                    (ngModelChange)="seekTo($event)"
                    class="progress w-full h-2 rounded-lg bg-gray-300 cursor-pointer"
                />
                <span>{{ formatTime(musicPlayer.duration()) }}</span>
            </div>

            <!-- Volume -->
            <div class="flex items-center gap-3 w-48 flex-shrink-0">
                <input
                    type="range"
                    min="0"
                    max="1"
                    step="0.01"
                    [(ngModel)]="musicPlayer.volume"
                    (input)="setVolume(musicPlayer.volume())"
                    class="volume volume-desktop w-full h-2 rounded-lg cursor-pointer "
                />
                <span
                    class="text-sm text-gray-200 font-medium min-w-[2.5rem] text-right"
                >
                    {{ (musicPlayer.volume() * 100).toFixed(0) }}%
                </span>
            </div>
        </div>
    </div>
</div>
