.mesh {
    background-color: #070f2b;
    background-image: radial-gradient(at 51% 86%, #070f2b 0%, transparent 60%),
        radial-gradient(at 22% 47%, #1b1a55 0%, transparent 50%),
        radial-gradient(at 24% 34%, #535c91 0%, transparent 40%),
        radial-gradient(at 14% 84%, #9290c3 0%, transparent 30%);
}

/* Ẩn thanh scroll nhưng vẫn scroll được */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 2px;
}
