<div class="w-full h-full flex flex-col">
    <!-- Header -->
    <div class="shrink-0 flex items-center justify-between">
        <div>
            <span class="text-white text-[2rem] font-bold">All Songs</span>
        </div>

        <div class="text-white">
            @if(isShowList()) {
            <button
                (click)="toggleShowList(false)"
                class="p-2 rounded-lg hover:bg-gray-700"
            >
                <app-icon name="list-bullet"></app-icon>
            </button>
            } @else {
            <button
                (click)="toggleShowList(true)"
                class="p-2 rounded-lg hover:bg-gray-700"
            >
                <app-icon name="squares-2x2"></app-icon>
            </button>

            }
        </div>
    </div>

    <div class="w-full bg-white h-[1px] mb-3"></div>

    @if(isShowList()) {
    <!-- Danh sách scroll -->
    <div class="flex-1 overflow-y-auto rounded-md p-2">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            @for (item of list.songs(); track $index) {
            <app-song-item
                [nameOfSong]="item.nameOfSong"
                [singer]="item.singer"
                [duration]="item.duration"
                [thumbnail]="item.thumbnail"
                (playMusic)="playSong(item, $index)"
            ></app-song-item>
            }
        </div>
    </div>
    } @else {
    <div class="flex-1 overflow-y-auto rounded-md p-2">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
        >
            @for (item of list.songs(); track $index) {
            <app-song-card-item
                [nameOfSong]="item.nameOfSong"
                [singer]="item.singer"
                [duration]="item.duration"
                [thumbnail]="item.thumbnail"
                (playMusic)="playSong(item, $index)"
            ></app-song-card-item>
            }
        </div>
    </div>
    }
</div>
