<div class="w-full h-full flex flex-col">
    <!-- Header -->
    <div class="shrink-0 flex items-center justify-between">
        <div>
            <span class="text-white text-[2rem] font-bold">All Songs</span>
        </div>

        <div class="text-white">
            @if(isShowList()) {
            <button (click)="toggleShowList(false)" class="p-2 rounded-lg hover:bg-gray-700">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2.625 6.75a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0A.75.75 0 0 1 8.25 6h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75ZM2.625 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12A.75.75 0 0 1 7.5 12Zm-4.875 5.25a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </button>
            } @else {
            <button (click)="toggleShowList(true)" class="p-2 rounded-lg hover:bg-gray-700">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                >
                    <path
                        d="M15 3.75H9v16.5h6V3.75ZM16.5 20.25h3.375c1.035 0 1.875-.84 1.875-1.875V5.625c0-1.036-.84-1.875-1.875-1.875H16.5v16.5ZM4.125 3.75H7.5v16.5H4.125a1.875 1.875 0 0 1-1.875-1.875V5.625c0-1.036.84-1.875 1.875-1.875Z"
                    />
                </svg>
            </button>

            }
        </div>
    </div>

    <div class="w-full bg-white h-[1px] mb-3"></div>

    @if(isShowList()) {
    <!-- Danh sách scroll -->
    <div class="flex-1 overflow-y-auto rounded-md p-2">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            @for (item of list.songs(); track $index) {
            <app-song-item
                [routerLink]="'/player'"
                [nameOfSong]="item.nameOfSong"
                [singer]="item.singer"
                [duration]="'12:12'"
                [thumbnail]="item.thumbnail"
            ></app-song-item>
            }
        </div>
    </div>
    } @else {
    <div class="flex-1 overflow-y-auto rounded-md p-2">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
        >
            @for (item of list.songs(); track $index) {
            <app-song-card-item
                [routerLink]="'/player'"
                [nameOfSong]="item.nameOfSong"
                [singer]="item.singer"
                [duration]="'12:12'"
                [thumbnail]="item.thumbnail"
            ></app-song-card-item>
            }
        </div>
    </div>
    }
</div>
